@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  min-height: 100%;
}

body {
  @apply bg-base-100 text-base-content;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}